yfinance==0.2.36
pandas==2.1.4
numpy==1.26.3
streamlit==1.31.0
plotly==5.18.0
scipy==1.11.4
cvxpy==1.4.1
nsepy==0.8
requests==2.31.0
python-dotenv==1.0.1
pyportfolioopt==1.5.5
ta==0.11.0
pyngrok==7.0.5
